{% extends 'base.html.twig' %}
{% block title %}Geocode{% endblock %}
{% block body %}
    <form method="get">
        Address:
        <input type="text" name="address">
        <input type="submit">
    </form>
{% endblock %}