{% extends 'base.html.twig' %}
{% block title %}Google Maps Symfony App{% endblock %}
{% block body %}
    <h1><a href="/geocode">Get latitude from address</a></h1>
    <h1><a href="/place_marker">Place marker based on address or geocode</a></h1>
    <h1><a href="/custom_marker">Choose marker icon and color</a></h1>
    <h1><a href="/distance">Get distance between 2 markers</a></h1>
    <h1><a href="/directions">Get directions between 2 markers</a></h1>
{% endblock %}